$main-color: #2D2E2E; //dark
$submain-color: #282929; //darker
$subsubmain-color: #252525;//the darkest

$text-color: #A4A5A6;
$subtext-color: #E0A80D;

$logos-color: #3F4040;

$partition-color: #747575;


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text-color;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 100%;
    font-weight: normal;
}

@mixin paddings_for_element {
    padding-top: 30px;
    padding-bottom: 30px;    
}

a {
    text-decoration: none;
}

a:hover, button:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
    color: $subtext-color;
}

label {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.subtext {
    color: $subtext-color;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {    
    border-bottom: 1px solid $partition-color;
    width: 100%;
    background-color: $main-color;
    header {
        width: 100%;
        @include paddings_for_element();
        background-color: $submain-color;
        border-bottom: 1px solid $partition-color;
        padding-left: 25px;
        h4 {
            font-size: 105%;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .section-main-area {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        @include paddings_for_element();      
    }
}

header.main-header {
    background-color: $main-color;
    .right-side {
        width: 100%;
    }
    .person-photo-container {
        margin-top: 30px;
        margin-bottom: 20px;
        .person-photo {
            border-radius: 50%;
        }        
    }

    .name-surname-position { 
        text-align: center;   
        .typing-container-1 {
            height: 40px;
            .name {
                font-size: 250%;
            }
            .name + span {
                font-size: 200%;
            }
        }
        .typing-container-2 {
            position: relative;
            height: 45px;
            margin-bottom: 20px;
            .surname {
                font-size: 300%;
                text-transform: uppercase;
            }
            .surname + span {
                position: absolute;
                top: -5px;
                font-size: 300%;
                color: $subtext-color;
            }
        }
    }
    h1 {
        font-size: 95%;
        margin-bottom: 25px;
    }
}

.social-links {
    font-size: 0;
    margin-bottom: 30px;
    li {
        display: inline-block;
        a {
            display: block;
            width: 35px;
            height: 35px;
            background-size: cover;
            box-sizing: content-box;
            transition: transform 250ms;
        }
        a:hover {
            transform: scale(1.2);
            transition: transform 250ms;
        }
        a:not(:last-of-type) {
            margin-left: 15px;
        }
        a:hover svg path {
            fill: $subtext-color !important;
        }
        //hover difficult svg for telegram
        a#telegram-link:hover svg path[style*="#25D9F8"] { //change light
            fill: $subtext-color !important;
        }
        a#telegram-link:hover svg path[style*="#00C0F1"] { //change darker
            fill: darken($subtext-color, 5) !important;
        }
        a#telegram-link:hover svg path[style*="#009AE4"] { //change the darkest
            fill: darken($subtext-color, 10) !important;
        }
    } 
    li:not(:first-of-type) {
        margin-left: 10px;
    }       
}
 
.contacts {
    @include paddings_for_element();
    width: 80%;
    border-top: 1px solid $partition-color;
    text-align: center;
    .contact {
        h3 {
            margin-bottom: 10px;
        }
    }    
    .contact:not(:last-of-type) {
        margin-bottom: 35px;
    }
}

.section-main-area {
    p {
        line-height: 115%;
    }   
    p:not(:last-of-type) {
        margin-bottom: 25px;
    }
}    

.about-me {
    header {
        border-top: 1px solid $partition-color;
    }
}

.skills {
    .progressbar-layout {  
        width: 100%;      
        .progressbar-header {
            margin-bottom: 10px;
            .progressbar-percentage {
                font-size: 130%;
            }
            .progressbar-name {
                font-size: 130%;
                padding-left: 5px;
            }
        }
        .progressbar {
            height: 5px;
            width: 100%;
        }
    } 
    .progressbar-layout:not(:last-of-type) {
        margin-bottom: 25px;
    }
    #html {
        background: linear-gradient(to right, $subtext-color 80%, $logos-color 80%);
    }
    #css {
        background: linear-gradient(to right, $subtext-color 70%, $logos-color 70%);
    }
    #javascript {
        background: linear-gradient(to right, $subtext-color 50%, $logos-color 50%);
    }
    #environment {
        background: linear-gradient(to right, $subtext-color 50%, $logos-color 50%);
    } 
    #react {
        background: linear-gradient(to right, $subtext-color 25%, $logos-color 25%);    
    }
    #node {
        background: linear-gradient(to right, $subtext-color 40%, $logos-color 40%);    
    }
    #seo {
        background: linear-gradient(to right, $subtext-color 20%, $logos-color 20%);
    } 
    #git {
        background: linear-gradient(to right, $subtext-color 85%, $logos-color 85%);
    } 
    #photoshop {
        background: linear-gradient(to right, $subtext-color 30%, $logos-color 30%);
    }
    #english {
        background: linear-gradient(to right, $subtext-color 75%, $logos-color 75%);
    }
}

.experience {
    .section-main-area.flex-container {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
    }
}

.timeline {
    width: 1px;
    border-left: 2px solid $partition-color;    
}
.timeline-points {
    .timeline-point {
        padding-left: 25px;
        .timeline-point-year {
            position: relative;
            display: block;
            font-size: 70%;
            color: $partition-color;
            margin-bottom: 10px;
        }
        .timeline-point-year::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            left: -31px;
            background-color: $subtext-color;
        }
        .timeline-point-company {
            display: block;
            font-size: 125%;
            font-weight: bold;
            margin-bottom: 10px;            
        }
        .timeline-point-name {
            display: block;
            font-size: 80%;
            margin-bottom: 10px;    
        }
        .timeline-point-location {
            display: block;
            font-size: 70%;
            color: $partition-color;
            margin-bottom: 10px;
        }
    }
    .timeline-point:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.facts {
    a {
        text-decoration: underline;
    }
}

.favorites {
    .section-main-area.flex-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .thing {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .thing:not(:last-of-type) {
            margin-bottom: 30px;
        }
    }    
}

.interaction {
    article {
        width: 100%;
        form { 
            position: relative;
            h5 {
                display: inline-block;
                margin-bottom: 30px;
            }           
            .enter {
                cursor: pointer;
                position: absolute;
                top: -18px;
                right: 0px;
                background-color: $text-color;
                transition: background-color 250ms;
                filter: drop-shadow(0px 0px 2px $submain-color);
                border: none;
                outline: none;
                text-decoration: none;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                .tick {
                    display: block;
                    margin-bottom: 7px;
                    margin-left: 14px;
                    height: 15px;
                    width: 25px;
                    border-left: 3px solid $submain-color;
                    border-bottom: 3px solid $submain-color;
                    transform: rotate(-45deg);
                }
            }
            .enter:hover {
                background-color: $subtext-color;
                transition: background-color 250ms;
            }
        }
    }
    article:not(:last-of-type) {
        padding-bottom: 30px;
        border-bottom: 1px solid $partition-color;
    }
    article:not(:first-of-type) {
        padding-top: 30px;
    }
}

.yes-no-containers {
    flex-direction: row;
    justify-content: space-between;
    .yes-no-container {
        width: 45%;
        text-align: center;
        input {
            display: none;
        }
        label {
            display: block;
            height: 50px;
            background-color: $logos-color;
            padding-top: 13px;	
            transition: background-color 250ms;
            cursor: pointer;
        }
        input:checked + label {
            background-color: $subtext-color;
            transition: background-color 250ms;
            color: $submain-color;
        }
    }    
}

.checkbox-containers {
    .checkbox-container {
        position: relative;
        input {
            display: none;
        }
        input + label {
            padding-left: 45px;
            cursor: pointer;
        }
        input + label::before {
            content: "";
            position: absolute;
            cursor: pointer;
            top: -6px;
            left: 0px;
            width: 30px;
            height: 30px;
            border: 2px solid $partition-color;
            transition: transform 400ms ease-out;
        }
        input:checked + label::before {
            width: 30px;
            height: 15px;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            border-color: $subtext-color;
            border-width: 3px;
        }
        input:checked + label {
            color: $subtext-color;	
        }
    }
    .checkbox-container:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.checkbox-slide-containers {
    .checkbox-slide-container {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        input {
            display: none;
        }
        .label-text {
            width: 50%;
            display: block;
        }
        .label-switch {
            width: 50%;
            display: block;
            height: 14px;
            margin-left: 25px;
            position: relative;
            height: 1px;
            background-color: $partition-color;
        }
        .label-switch .round {
            position: absolute;
            top: -7px;
            left: 0;
            width: 10%;
            height: 14px;
            border: 2px solid $submain-color;
            z-index: 1;
            background-color: $text-color;
            border-radius: 50%;
            transition: transform 300ms;
        }
        input:checked + label + .label-switch .round {
            position: absolute;
            transform: translate(950%);
            transition: transform 300ms;
            background-color: $subtext-color;
        }
        input:checked + .label-text {
            color: $subtext-color;
        }
    }
    .checkbox-slide-container:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

.text-field-containers {
    .text-field-container {
        input {
            border: none;
            outline: none;
            width: 100%;
            background-color: $main-color;
            border-bottom: 1px solid $partition-color;
            font-size: 130%;
            color: $subtext-color;
            line-height: 150%;
        }   
        .label-box {
            position: relative;
            label {
                position: absolute;
                top: -20px;
                color: $partition-color;
                transition: all 200ms;
                cursor: text;
            }
        }
        input:focus ~ .label-box label, input:valid ~ .label-box label {
            font-size: 80%;
            transform: translateY(-20px);
            transition: all 200ms;
            cursor: default;
        }
        .label-box::before, .label-box::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 0;
            bottom: 0px;
            background-color: white;
            transition: all 200ms;
        }
        .label-box::before {
            left: 0;
        }
        .label-box::after {
            right: 0;
        }
        input[type="text"]:focus ~ .label-box::before, input[type="text"]:focus ~ .label-box::after, input[type="text"]:valid ~ .label-box::before, input[type="text"]:valid ~ .label-box::after  {
            width: 50%;
        }
         
    }
}

//Adaptive layout widescreen
@media screen and (min-width: 1096px) {
    header.main-header {
        height: 100vh;
        flex-direction: row;
        .left-side.person-photo-container {
            width: 40%;
            height: 100vh;
            padding-right: 5%;
            padding-left: 20%;
            justify-content: center;
            align-items: flex-end;
            margin: 0;  
            background-color: $submain-color; 
            .person-photo {
                margin-bottom: 120px;
                width: 250px;
            }
        }
        .right-side {
            width: 60%;
            height: 100vh;
            padding-right: 10%;
            padding-left: 5%;
            .my-brand {
                width: 100%;
                flex-direction: row;
                justify-content: center;
                margin-top: auto;
                .name-surname-position {
                    margin-top: auto;
                    align-self: flex-start;
                    text-align: left;
                    margin-right: auto;
                    .typing-container-1 {
                        height: 60px;
                        .name {
                            font-size: 400%;
                        }
                    }
                    .typing-container-2 {
                        height: 60px;
                        .surname {
                            font-size: 400%;
                        }
                        .surname + span {
                            font-size: 400%;
                        }
                    }
                    h1 {
                        margin-left: 2px;
                        font-size: 150%;
                    }                   
                }
                .social-links {
                    margin-left: auto;
                    align-self: flex-end;
                    margin-bottom: 15px;
                    li {
                        a {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
            .contacts {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                margin-top: auto;
                .contact {
                    margin-bottom: 0;
                }
            }
        }
    }
    main {
        //mixing colors
        section.flex-container:nth-of-type(2n+1) header {
            background-color: $subsubmain-color;
        }
        section.flex-container:nth-of-type(2n+1) .section-main-area {
            background-color: $submain-color;
        }
        //

        .section-main-area.flex-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        section.flex-container {
            flex-direction: row;
            align-items: stretch;
            border: none;
            header {
                border: none;
                text-align: right;
                width: 40%;
                padding-top: 60px;
                padding-bottom: 60px;
                padding-right: 5%;
                padding-left: 20%;
                margin-left: auto;
                p {
                    font-size: 85%;
                }
            }
            .section-main-area {
                width: 60%;
                padding-top: 60px;
                padding-bottom: 60px;
                padding-right: 10%;
                padding-left: 5%;
            }
        }
        section.skills {
            .progressbar-layout {
                margin: 0;
                width: 45%;
                align-self: stretch;
            }
            .progressbar-layout:not(:nth-of-type(1)):not(:nth-of-type(2)) {
                margin-top: 30px;
            }
        }
        .favorites {
            .section-main-area.flex-container {
                align-items: flex-start;
                .thing {
                    width: 45%;
                    img {
                        width: 100%;
                    }
                }
                .thing:not(:last-of-type) {
                    margin-bottom: 60px;
                }
            }    
        }
    }
}

//Interact 2columns layout
// @media screen and (min-width: 1376px) {
//     section.interaction.flex-container article {
//         width: 45%;
//         margin: 0;
//         align-self: flex-start;
//         border: none;
//         padding-bottom: 0px;
//         padding-top: 0px;
//     } 
//     section.interaction.flex-container article:nth-last-of-type(-n+2) {
//         margin-top: 30px;
//     }
// }






